*{
  margin: 0;padding: 0;
}
.linkage{
  display: flex;
}
nav{
  width: 50px;
}
dd{
  height: 60px;
}
dt{
  height: 36px;
  position:sticky;
  top: 0;
  left: 0;
}
.tab-detail{
  flex: 1;
  height: 50vh;
  overflow-y: scroll;
}
.active{
  color: red;
}
