.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header{
  padding: 15px 30px 28px 30px;
  display: flex;
}
.header h2{
  width: 127px;
  height: 37px;
  margin-right: 20px;
  margin-top: 8px;
}
.header input {
  flex: 1;
  outline: none;
  border: none;
  border: 1px solid red;
  border-radius: 4px;
  height: 56px;
}
.header button{
  margin-left: 16px;
  width: 73px;
  height: 41px;
  margin-top: 8px;
}